*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("./imagenes/pokemonmon.png");
    background-repeat: no-repeat; 
    background-position: center center; 
    background-attachment: fixed; 
    background-size: cover; 
    background-color:aqua;
    font-family: 'Montserrat', sans-serif; 
}
header{
    margin-bottom: 40px;
}
footer{
    display: flex;
    justify-content: center;
    margin-top: 30px; 
}
ul{
    list-style:none; 
}
.redes-sociales{
    margin-left: 10px;
}
.logo-cabecera-pokemon{
    display: flex; 
    display: block;
    width: 360px;
    height: 160px;
    margin: auto; 
    margin-top: 15px;;
}
#siderbar{
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    margin-top: -50px;
    width: 260px;
    background: rgba(222, 222, 228, 0.9);
    left: -260px;
    transition: all 500ms linear;
    border-radius: 10px;
}
#siderbar.active{
    left: 0;
}
#siderbar ul li{
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
    padding: 5px 10px;
    justify-content: center;
}
.toglee{
    position: absolute;
    left: 270px;
    margin-top: -30px;
    cursor: pointer;
}
.menu{
    display: block;
    width: 40px;
    text-align: center;
    font-size: 40px;
    color: rgb(117, 113, 113);
}
.insertar-pokemones{
    display: flex;
    flex-wrap: wrap; 
}
.tarjeta-pokemon{
    background-color:rgba(0, 0, 0, 0.1);
    margin-top: 40px;
    border-radius: 20px; 
    width: 230px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}
.tarjeta-pokemon:hover{
    transform: scale(1.2,1.2); 
    transition-duration: 500ms;
}
.imagen-pokemon{
    padding: 5px;
    margin-left: 50px;
}
.nombre-pokemon{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.numero-pokemon{
    text-align: center;
}
.btn-tipo
{
    background: none;
    border: none;
    margin: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;    
    font-weight: lighter;
    color: rgb(66, 65, 65);
}
.btn-tipo:hover{
    transform: scale(1.2,1.2);
    transition-timing-function: ease-out;
    transition-duration: 300ms;    
}
.btn{ 
    height: 45px;
    width: 45px;
    margin-left: 15px;
}
.guia-tipos{
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;  
    margin-left: 5px;
}
.fomulario-nombre{
    display: flex;
    justify-content: center;
    align-items: center;
}
#busca-pokemon{
    width: 275px;
   height: 22px;
   font-size: 18px;  
}
/*INICIO MODAL*/
.modal{
    display: none;
    position: fixed;
    z-index: 1;
    overflow: auto;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(69, 73, 73, 0.7);
}
.flex{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contenido-modal{
    position: relative; 
    background-image: url(./imagenes/paipos.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    width: 380px;
    border-radius:30px;
    animation-name: modal;
    animation-duration: 1s;
}
@keyframes modal{
    from{top:-400px; opacity: 0;}
    to{top:0; opacity: 1;}
}
.cerrar{
    color: rgb(250, 241, 241);
    font-size: 60px;
    font-weight: bolder;
    position: absolute;
    right: 15px;
    cursor: pointer;  
}
.modal-open{
    display: block;
}
.modal-body{
    display: flex;
    flex-direction: column;
    margin-top: 70px;
}
.modal-header{
    text-align: center;
    padding: 5px;
    color: #39393d;
    font-weight: bolder;
    font-size: 22px;
}
.modal-header img{
    width: 150px;
    height: 150px;
}
.imagen-pokemon-modal{
    margin-bottom: -10px;
}
.modal-main{
    text-align: justify;
    margin: auto;
    color: #505160;
    font-size: 16px;
}
.modal-footer{
    text-align: center;
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 5px;
    color: #003b46;
}
.evolucion{
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
}
.evolucion figure{
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background: linear-gradient(to bottom, rgb(6, 196, 180), rgb(90, 165, 177), rgb(188, 236, 222));
    margin: 5px;
}
.imagen-evolucion{
    width: 80px;
    height: 80px;
}
#mayor-frecuencia{
    background: none;
    border: none; 
}
.columnaone{
    columns: 2;
  text-align: justify;
  column-rule: 1px solid;
}
.imagen-caramelo,
.imagen-huevito{
width: 15px;
}
@media(max-width: 768px){
    .logo-cabecera-pokemon{
        width: 200px;
        height: 100px;        
    }
}
@media(max-width: 420px){
    .contenido-modal{
        width: 83%;
    }
}


